@model LandlordPropertyViewModel

    <h2>Welcome @Model.Landlord.FullName!</h2>

    <div>
        Your Properties: <br />

        @foreach (var p in Model.PropertyList)
            {
          <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="@p.Image" />
                        <span class="card-title">@p.Address</span>
                    </div>


                    <div class="card-content">

                        <a asp-controller="Landlord" asp-action="Property" asp-route-id="@p.Id">
                            @p.Address
                            @p.City ,
                            @p.State ,
                            @p.Zipcode
                        </a>
         
                    </div>
                    <div class="card-action">
                        <a asp-controller="landlord" asp-action="property" asp-route-id="@p.Id">View Payments</a>
                    </div>
                </div>
            </div>
        </div>
            }
        </div>

        <h2>Add a new property</h2>

        <!-- Modal Trigger -->
        <a class="btn-floating waves-effect waves-light red modal-trigger" href="#addProperty"><i class="material-icons">add</i></a>
        <div id="addProperty" class="modal">
            <div class="modal-content">

            <form asp-controller="landlord" asp-action="createProperty" enctype="multipart/form-data">
                <h4>Add new Property</h4>
                <label for="property-address">Address</label>
                <input type="text" id="property-address" name="Address" />
                <br />
                <label for="City">City</label>
                <input type="text" id="City" name="City" />
                <br />
                <label for="State">State</label>
                <input type="text" id="State" name="State" />
                <br />
                <label for="Zipcode">Zipcode</label>
                <input type="text" id="Zipcode" name="Zipcode" />
                <br />
                <label for="PropertyType">Property Type</label>
                <input type="text" id="PropertyType" name="PropertyType" />
                <br />
                <label>Image</label>
                <input type="file" name="File" />
                <br />
                <input type="hidden" name="Property.LandlordId" value="@Model.Landlord.Id" />
            </form>
            </div>
       <div class="modal-footer">
           <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Add property</button>
       </div>
      </div>

@{ 
    LandlordNavBarViewModel viewModel = new LandlordNavBarViewModel();
    viewModel.LandlordId = Model.Landlord.Id;
    viewModel.Properties = Model.PropertyList;
}

        @section Navbar{
        @Html.Partial("_NavBar", viewModel)
        }
