@model LandlordPropertyLeaseViewModel

    <h2>Welcome @Model.Landlord.FullName!</h2>

    <div>Your Properties: <br />
    @foreach(var p in Model.PropertyList)
    {
        <div>@p.Address
        @p.City ,
        @p.State ,
        @p.Zipcode
        </div>
        <div>
            @p.Type
        </div>
    }

    </div>